
@media(max-width: 1199px){
	.main_menu_two .navbar.navbar-expand-lg .navbar-nav li {
		margin-right: 25px;
	}
	.main_menu_two::before {
		bottom: -10px;
	}
}
@media(max-width: 991px){
	.main_menu_area .navbar.navbar-expand-lg .navbar-brand {
		position: relative;
		left: 0%;
		top: 0px;
		transform: translateX(-0%);
	}
	.navbar-light .navbar-toggler{
		box-shadow: none;
		outline: none;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-brand::after {
		display: none;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-brand img {
		display: none;
		margin-top: 0px;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-brand img + img{
		display: inline-block;
	}
	.main_menu_area::before {
		display: none;
	}
	.navbar-light .navbar-toggler {
		border: none;
		margin: 0px;
		padding: 0px;
		margin-top: 26px;
		margin-bottom: 24px;
	}
	.my_toggle_menu{
		border: none;
		width: 50px;
		height: 36px;
		text-align: center;
		padding-top: 10px;
		cursor: pointer;
	}
	.my_toggle_menu span{
		display: block;
		width: 30px;
		height: 3px;
		background: #f195b2;
		margin: auto;
		margin-bottom: 5px;
		transition: all 400ms linear;
	}
	.my_toggle_menu span:last-child{
		margin-bottom: 0px;
	}
	.main_header_area + section, .main_header_area + div, .main_header_area + .row {
		margin-top: 117px;
	}
	.navbar-toggler[aria-expanded="false"] .my_toggle_menu span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] .my_toggle_menu span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] .my_toggle_menu span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7px;
	}
	.navbar-toggler[aria-expanded="true"] .my_toggle_menu span:last-child {
		transform: rotate(45deg);
		bottom: 9px;
		position: relative;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-nav li {
		margin-right: 0px;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-nav li a {
		line-height: 45px;
		border-bottom: 1px solid #dcdcdc;
		display: block;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu {
		margin: 0px;
		padding: 0px;
		border-radius: 0px;
		border-top: 0px;
	}
	.main_menu_two::before {
		display: none;
	}
	.main_menu_two {
		background: #fff;
	}
	.main_menu_two .navbar.navbar-expand-lg .navbar-nav li {
		margin-right: 0px;
	}
	.main_menu_two .navbar.navbar-expand-lg .navbar-nav > li > a {
		line-height: 48px !important;
		border-bottom: 1px solid #dcdcdc;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-nav li a::before {
		bottom: -1px;
	}
	.main_menu_two .navbar.navbar-expand-lg .navbar-nav li a {
		display: block;
	}
	.main_menu_two .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu{
		margin: 0px;
		padding: 0px;
		border-radius: 0px;
		border-top: 0px;
	}
	
	.col-lg-3.hide{
		display: none;
	}
	.main_header_area.navbar_fixed .main_menu_area .navbar.navbar-expand-lg .navbar-brand img {
		margin-top: 2px;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-collapse {
		max-height: 368px;
		overflow-y: scroll;
	}
	.main_menu_two .navbar.navbar-expand-lg .navbar-collapse {
		max-height: 392px;
		overflow-y: scroll;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-nav > li > a {
		line-height: 45px !important;
	}
	.main_menu_area .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu{
		display: block;
		border-left: 0px;
		border-right: 0px;
		margin: 0px;
		padding: 0px;
	}
	.main_menu_two .navbar.navbar-expand-lg .navbar-nav li.submenu .submenu .dropdown-menu {
		display: block;
		border-left: 0px;
		border-right: 0px;
		margin: 0px;
		padding: 0px;
	}
	.footer_widgets .footer_wd_inner .col-lg-3:nth-child(2) .f_link_widget {
		padding-left: 0px;
	}
	.dropdown .dropdown-menu {
		-webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
		-moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
		-ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
		-o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
		transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
		max-height: 0;
		display: block;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
	}
	.dropdown.show .dropdown-menu {
	  -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
	  -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
	  -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
	  -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
	  transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
	  max-height: 250px;
	  overflow-y: scroll;
	  display: block;
	  opacity: 1;
	  visibility: visible;
	}
}@media(max-width: 767px){
	.main_header_area + section, .main_header_area + div, .main_header_area + .row {
		margin-top: 167px;
	}
}
@media(max-width: 575px){
	.main_menu_two .navbar.navbar-expand-lg .navbar-brand img{
		max-width: 80%;
	}
}
@media(max-width: 480px){
	.footer_wd_inner .col-6{
		max-width: 100%;
		flex: 0 0 100%;
	}
	.main_header_area + section, .main_header_area + div, .main_header_area + .row {
		margin-top: 202px;
	}
}