
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Assets/img/hcmut.jpg" />
    <title>BK Food Court</title>

    <link href="~/Assets/css/style.css" rel="stylesheet">
    <link href="~/Assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Information/user_infomation.css">
</head>
<body>
    <!--MAIN-->
    <header class="main_header_area">
        <div class="top_header_area row m0">
            <div class="container">
                <div class="float-left">
                    <a href="tel:+84123456"><i class="fa fa-phone" aria-hidden="true"></i> + (84) 123 456</a>
                    <a href="mailto:info@bkfoodcourt.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@bkfoodcourt.com</a>
                </div>
                <div class="float-right">
                    <ul class="h_social list_style">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <ul class="h_search list_style">
                        <li class="shop_cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        <li class="popup-with-zoom-anim"><a href="#test-search"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu_two">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href=@Url.Action("Index","Home")><img src="Assets/img/hcmut.jpg" alt="" style="height: 100px;"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="my_toggle_menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav justify-content-end">
                            <li><a href=@Url.Action("Index","Home")><i class="fa fa-home"></i> Home</a></li>
                            <li><a href=@Url.Action("Index","Menu")>Menu</a></li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href=@Url.Action("Index","Cart") role="button" aria-haspopup="true" aria-expanded="false">Cart</a>
                            </li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://www.facebook.com/bkfoodcourt">About Us</a></li>
                                    <li><a href=@Url.Action("Index","Contact")>Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="cart.html">Infomation</a></li>
                                    <li><a href=@Url.Action("Index","Logout")>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    </header>
    <div class="container_">
        <div id="logo">
            <h1 class="logo">BKF</h1>
        </div>
        <div class="leftbox">
            <nav>
                <a class="nav_a" id="profile" class="active"><i class="fa fa-user"></i></a>
            </nav>
        </div>
        <div class="rightbox">
            <div class="profile">
                <h1 class="profile_h1">Personal Info</h1>
                <h2 class="profile_h2">Full Name</h2>
                <p>Nguyen Trong Minh <button class="btn">update</button></p>
                <h2 class="profile_h2">Birthday</h2>
                <p>30/9/2000</p>
                <h2 class="profile_h2">Email</h2>
                <p>trongminh@gmail.com <button class="btn">update</button></p>
                <h2 class="profile_h2">Password </h2>
                <p>••••••• <button class="btn">Change</button></p>
            </div>
        </div>
    </div>
</body>