
@using BKFoodCourt.Models

@{
    ViewBag.Title = "Index";
    if (LoginSignUpModel.State == false)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_Customer.cshtml";
    }
}

@model List<Food>

@section css
{
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Test/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Test/css/animate.css">

    <link rel="stylesheet" href="~/Assets/Test/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/Test/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/Test/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/Test/css/aos.css">
    <link rel="stylesheet" href="~/Assets/Test/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/Test/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/Test/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Assets/Test/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/Test/css/icomoon.css">
    <link rel="stylesheet" href="~/Assets/Test/css/style.css">
}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-10 order-md-last">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product">
                            <div class="info-large">
                                <h4>Cá viên chiên</h4>
                                <div class="sku">
                                    PRODUCT SKU: <strong>89356</strong>
                                </div>

                                <div class="price-big">
                                    <span>$4</span> 35000đ
                                </div>
                                <h3>SIZE</h3>
                                <div class="sizes-large">
                                    <span>M</span>
                                    <span>L</span>
                                </div>

                                <button class="add-cart-large">Add To Cart</button>

                            </div>
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg" alt="" />
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">$1</span>
                                            <span class="product_name">Cá viên chiên</span>
                                            <p>Food</p>

                                            <div class="product-options">
                                                <strong>SIZES</strong>
                                                <span>M, L</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product">
                            <div class="info-large">
                                <h4>Thức uống 3 tầng</h4>
                                <div class="price-big">
                                    <span>$4</span> $1
                                </div>
                                <h3>SIZE</h3>
                                <div class="sizes-large">
                                    <span>M</span>
                                    <span>L</span>
                                </div>

                                <button class="add-cart-large">Add To Cart</button>

                            </div>
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://images.absolutdrinks.com/drink-images/415x570/a8998c55-0f4f-40c7-b2ac-bee18d34b660.jpg" alt="" />
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">$1</span>
                                            <span class="product_name">Thức uống 3 tầng</span>
                                            <p>Drink</p>

                                            <div class="product-options">
                                                <strong>SIZES</strong>
                                                <span>M, L</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product">
                            <div class="info-large">
                                <h4>Bạc sửu đá</h4>
                                <div class="price-big">
                                    <span>$4</span> $1
                                </div>
                                <h3>SIZE</h3>
                                <div class="sizes-large">
                                    <span>M</span>
                                    <span>L</span>
                                </div>

                                <button class="add-cart-large">Add To Cart</button>

                            </div>
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://www.liquor.com/thmb/ikHoA2nHyt1ZAswDgmRLHhdL08s=/720x720/filters:fill(auto,1)/__opt__aboutcom__coeus__resources__content_migration__liquor__2019__05__24092020__miami-vice-720x720-recipe-27021aecab2d4503a25e2c08d36aea3b.jpg" alt="" />
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">$1</span>
                                            <span class="product_name">Bạc sửu đá</span>
                                            <p>Drink</p>

                                            <div class="product-options">
                                                <strong>SIZES</strong>
                                                <span>M, L</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product">
                            <div class="info-large">
                                <h4>Combo 1: Hamberger + Khoai tây chiên</h4>
                                <div class="price-big">
                                    <span>$4</span> $1
                                </div>
                                <h3>SIZE</h3>
                                <div class="sizes-large">
                                    <span>M</span>
                                    <span>L</span>
                                </div>

                                <button class="add-cart-large">Add To Cart</button>

                            </div>
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0c/a7/54/57/hfc-fast-food.jpg" alt="" />
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">$2</span>
                                            <span class="product_name">Combo 1: Hamberger + Khoai tây chiên</span>
                                            <p>Food</p>

                                            <div class="product-options">
                                                <strong>SIZES</strong>
                                                <span>M, L</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product">
                            <div class="info-large">
                                <h4>Bánh plan phủ milo</h4>
                                <div class="price-big">
                                    <span>$4</span> $1
                                </div>
                                <h3>SIZE</h3>
                                <div class="sizes-large">
                                    <span>M</span>
                                    <span>L</span>
                                </div>

                                <button class="add-cart-large">Add To Cart</button>

                            </div>
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://kenh14cdn.com/thumb_w/660/2018/10/18/milo-1-1539835011650185515572.jpeg" alt="" />
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">$1</span>
                                            <span class="product_name">Bánh plan phủ milo</span>
                                            <p>Food</p>

                                            <div class="product-options">
                                                <strong>SIZES</strong>
                                                <span>M, L</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product">
                            <div class="info-large">
                                <h4>Harmberger cá thác lác</h4>
                                <div class="price-big">
                                    <span>$4</span> $1
                                </div>
                                <h3>SIZE</h3>
                                <div class="sizes-large">
                                    <span>M</span>
                                    <span>L</span>
                                </div>

                                <button class="add-cart-large">Add To Cart</button>

                            </div>
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://alohaa.vn/thumb.php?src=http://alohaa.vn/img_data/images/006126370357_SP-HAMBURGER-CA-THAC-LAC-01.jpg&w=400&h=400&zc=2" alt="" />
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">$1</span>
                                            <span class="product_name">Harmberger cá thác lác</span>
                                            <p>Food</p>

                                            <div class="product-options">
                                                <strong>SIZES</strong>
                                                <span>M, L</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product">
                            <div class="info-large">
                                <h4>Combo 2: Gà rán + Coca + Khoai tây chiên</h4>
                                <div class="price-big">
                                    <span>$4</span> $2
                                </div>
                                <h3>SIZE</h3>
                                <div class="sizes-large">
                                    <span>M</span>
                                    <span>L</span>
                                </div>

                                <button class="add-cart-large">Add To Cart</button>

                            </div>
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://mcdonalds.vn/uploads/2018/2-ga-ran.png" alt="" />
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">$1</span>
                                            <span class="product_name">Combo 2: Gà rán + Coca + Khoai tây chiên</span>
                                            <p>Food</p>

                                            <div class="product-options">
                                                <strong>SIZES</strong>
                                                <span>M, L</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product">
                            <div class="info-large">
                                <h4>Combo 2: Gà rán + Coca + Khoai tây chiên</h4>
                                <div class="price-big">
                                    <span>$4</span> $1
                                </div>
                                <h3>SIZE</h3>
                                <div class="sizes-large">
                                    <span>M</span>
                                    <span>L</span>
                                </div>

                                <button class="add-cart-large">Add To Cart</button>

                            </div>
                            <div class="make3D">
                                <div class="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://sotaynauan.com/wp-content/uploads/2014/03/Cong-thuc-ga-ran-KFC-gion-tan.jpg" alt="" />
                                    <div class="image_overlay"></div>
                                    <div class="add_to_cart">Add to cart</div>
                                    <div class="view_gallery">View gallery</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">$1</span>
                                            <span class="product_name">Combo 2: Gà rán + Coca + Khoai tây chiên</span>
                                            <p>Food</p>

                                            <div class="product-options">
                                                <strong>SIZES</strong>
                                                <span>M, L</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-back">
                                    <div class="shadow"></div>
                                    <div class="carousel">
                                        <div class="arrows-perspective">
                                            <div class="carouselPrev">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                            <div class="carouselNext">
                                                <div class="y"></div>
                                                <div class="x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-back">
                                        <div class="cy"></div>
                                        <div class="cx"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <div class="cart-icon-top">
                </div>
                <div class="cart-icon-bottom">
                </div>
                <div id="checkout">
                    CHECKOUT
                </div>
                <div id="sidebar">
                    <h3>CART</h3>
                    <div id="cart">
                        <span class="empty">No items in cart.</span>
                    </div>

                    <h3>CATEGORIES</h3>
                    <div class="checklist categories">
                        <ul>
                            <li><a href=""><span></span>Quầy thứ 1</a></li>
                            <li><a href=""><span></span>Quầy thứ 2</a></li>
                            <li><a href=""><span></span>Quầy thứ 3</a></li>
                        </ul>
                    </div>
                    <h3>SIZES</h3>
                    <div class="checklist sizes">
                        <ul>
                            <li><a href=""><span></span>S</a></li>
                            <li><a href=""><span></span>M</a></li>
                        </ul>
                    </div>

                    <h3>PRICE RANGE</h3>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/price-range.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Assets/Test/js/jquery.min.js"></script>
    <script src="~/Assets/Test/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Assets/Test/js/popper.min.js"></script>
    <script src="~/Assets/Test/js/bootstrap.min.js"></script>
    <script src="~/Assets/Test/js/jquery.easing.1.3.js"></script>
    <script src="~/Assets/Test/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/Test/js/jquery.stellar.min.js"></script>
    <script src="~/Assets/Test/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Test/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/Test/js/aos.js"></script>
    <script src="~/Assets/Test/js/jquery.animateNumber.min.js"></script>
    <script src="~/Assets/Test/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/Test/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Assets/Test/js/google-map.js"></script>
    <script src="~/Assets/Test/js/main.js"></script>
}


