
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <img class="food-img-menu" src="https://static2.yan.vn/YanNews/2167221/201911/top-nhung-quan-ca-vien-chien-duoc-hang-tram-ban-tre-yeu-thich-0dfd0f78.jpg">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <br>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 16px;"><a href="#">CÁ VIÊN CHIÊN</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$1</div>
                    </div>
                    <div class="col-auto">
                        <br><br>
                        <a href=@Url.Action("Detail","Food")>Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

