
@{
    ViewBag.Title = "UpdateMenu";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="row" style="margin-left:10px">
    <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Cập nhật món ăn.</h2>

    </div>
    <div class="col-md-7 mb-5 site-animate">
        <form action="" method="post">
            <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input type="text" class="form-control" placeholder="ID Món ăn">
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="text" class="form-control" placeholder="Tên cần sửa">
            </div>
            <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input type="number" class="form-control" placeholder="Giá cần sửa">(đơn vị: nghìn đồng)
            </div>
            <div class="form-group">
                <label for="message" class="sr-only">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                          placeholder="Thêm mô tả"></textarea>
            </div>
            <button>Thêm hình</button>
            <br /><br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg" value="Complete">
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 site-animate">
        <p><img src="~/Assets/img/hcmut.jpg" alt="" class="img-fluid"></p>
        <p class="text-black">
            Address: <br> 268 Lý Thường Kiệt, Phường 14, Quận 10 <br> Hồ Chí Minh, Việt Nam <br> <br>
            Phone: <br> +(84) 123 456 <br> <br>
            Email: <br> <a href="mailto:info@bkfoodcourt.com">info@bkfoodcourt.com</a>
        </p>
    </div>
</div>

